<!DOCTYPE html>
<html lang="en">

<!--head-->
{{> head}}

<body>

    <!--header-->
    {{> header}}

    <section class="section contact" data-section="section6">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Sign-up</h2>
                    </div>
                </div>
                <div class="col-md-6">

                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <label class="text-white" for="username">Enter an id:</label>
                                    <input name="username" type="text" class="form-control" id="username" placeholder=""
                                        required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <label class="text-white" for="amount">Enter the number of simultaneous streams you
                                        want:</label>
                                    <input name="amount" type="number" min="0" class="form-control" id="amount"
                                        placeholder="" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <label class="text-white" for="password">Enter your password:</label>
                                    <input name="password" type="password" class="form-control" id="password"
                                        placeholder="" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12 ">
                                <fieldset class="d-flex justify-content-between">
                                    <a href="/auth" rel="sponsored" target="_parent">Log-in</a>
                                    <button type="button" id="form-submit" onclick="signUp()"
                                        class="button ">Sign-up</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}

    <script>
        const signUp = async () => {
            const data = {
                username: document.getElementsByName("username")[0].value,
                simultaneousFlowLimit: document.getElementsByName("amount")[0].value,
                password: document.getElementsByName("password")[0].value
            }

            if (!data.username) {
                alert('The Id field cannot be empty')
                return;
            }

            if (!data.simultaneousFlowLimit) {
                alert('Enter the number of streams')
                return;
            }
            const validNumber = Number(data.simultaneousFlowLimit.replace(/[^0-9-]/g, ''));
            if (!validNumber && validNumber != 0 || validNumber < 0) {
                alert('Enter a valid number of streams')
                return;
            }

            if (!data.password) {
                alert('The password field cannot be empty')
                return;
            }

            try {
                const result = await makeRequest('post', `{{viewConfig.baseUrl}}/users/sign-up`, data);

                alert(result?.message)

                window.location.reload()
            } catch (error) {
                console.error('Request failed:', error);
                if (error?.statusCode == 406) {
                    alert('There is already a user with this id')
                } else {
                    alert(error?.message)
                }
            }
        }
    </script>

</body>

</html>